# Configurações do Banco de Dados
DB_URL=jdbc:mysql:
DB_USERNAME=
DB_PASSWORD=

# Configurações de Segurança
API_SECURITY_TOKEN_SECRET=

# Configurações de Email (SendGrid)
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=